{% extends "base.html.twig" %}
{% block welcome %}
    <div id="welcome">
        <h2> Inscription réalisée avec succès! <br> Bienvenue chez YAKWA! </h2> <br>
        <a href="home"><button type="button" class="btn btn-light">Aller à la page d'accueil</button></a>
        <a href="deconnexion"><button type="button" class="btn btn-light">Me déconnecter</button></a>
    </div>
{% endblock %}