$bgColor : #c0c6ce;
$btnColor:#00d208fa;

#contact {
    background: $bgColor;
    text-align: center;

    h1 {
        font-family: sans-serif;
        padding-top: 25px;
        color: dimgrey;
    }
}

form {
    .input {
        font-style: italic;
    }

    input {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 20%;
        height: 25px;

        &:focus {
            outline-color: #f19c00;
        }
    }

    textarea {
        width: 20%;
        margin-top: 10px;

        &:focus {
            outline-color: #f19c00;
        }
    }

    #btn {
        margin-bottom: 25px;
        margin-top: 25px;
        background: $btnColor;
        color: white;
        width: 21%;
        border: 1px solid;
        height: 30px;
        cursor: pointer;
        font-weight: bold;
    }

    span {
        color: #e25500;
        font-family: sans-serif;
        font-weight: bold;
        font-style: italic;
    }
}
.errorMsg{
    list-style: none;
    color: orangered;
    display: none;
}
.ok{
    border:2px solid green;
}
.error{
    border:2px solid red;
}
