$bgColor : #7e7e7e;
$btnColor:#ad8823fa;

#contact {
    background: $bgColor;
    text-align: center;

    h1 {
        font-family: sans-serif;
        padding-top: 25px;
        color: #fff;
        text-transform: uppercase;
    }
}

form {
    .input {
        font-style: italic;
    }

    input {
        width: 200px;

        &:focus {
            outline-color: #f19c00;
        }
    }

    textarea {
        width: 200px;
        margin-top: 10px;

        &:focus {
            outline-color: #f19c00;
        }
    }

    a {
        text-decoration:none;
        color:#FFF;
      }
    
    span {
        color: #dd0000;
        font-family: sans-serif;
        font-weight: bold;
        font-style: italic;
    }
}
.errorMsg{
    list-style: none;
    color: #dd0000;
    display: none;
}
.ok{
    border:2px solid #3399ff;
}
.error{
    border:2px solid #dd0000;
}
